.example-group:hover {
    background-color: #f7f7f7;
}

.example-src:hover,
.example-dst:hover {
    cursor: pointer;
}

.example-src.ant-typography-edit-content {
    margin-left: 10px;
    display: inline-block;
}

.example-src.ant-typography-edit-content>textarea {
    font-size: 15px;
}

.example-dst.ant-typography-edit-content {
    margin-top: -15px;
    margin-left: 10px;
}

.example-dst.ant-typography-edit-content>textarea {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 500;
    font-family: "宋体";
}

.example-group>.ant-typography {
    font-size: 15px;
}

.example-group>.ant-typography-secondary {
    display: block;
    margin-top: -20px;
    font-family: "宋体";
}

.example-group>.ant-typography:first-child {
    display: block;
    margin-bottom: -35px;
}

.example-group:hover>.example-group-marker::marker {
    transition: color .2s;
    color: deepskyblue;
}

.example-group>.ant-typography:first-child::after {
    content: "\A";
    white-space: pre;
}

.example-group-marker {
    display: list-item;
    margin-left: 3.3px;
}

.example-group-marker::marker {
    color: rgb(179 233 255);
    content: '◆';
    font-size: xxx-large;
}