.ant-collapse-item {
    background-image: linear-gradient(to right, #f7f7f7, #f3f3f3);
    margin: 0px auto 0px auto;
    border-radius: 10px;
}

.ant-collapse-item:hover:not(.ant-collapse-item-active) {
    transform: translateY(-3px);
    box-shadow: 2px 2px 3px #999;
    transition: all .2s ease-out;
    border-radius: '10px';
    background-color: #f7f7f7;
}

.ant-collapse-content-box>button {
    height: 50px;
    border-radius: 20px;
}

h4.ant-typography {
    display: inline-block;
}

li.ant-list-item {
    display: block;
}

.ant-collapse-header {
    font-size: medium;
}

/* .example-group {
    display: list-item;
    margin-left: -1.8px;
} */

.example-group:hover {
    background-color: #f7f7f7;
}

/* .example-group::marker {
    content: '◆';
    font-size: xxx-large;
} */

/* .example-group:hover::marker {
    transition: color .2s;
    color: deepskyblue;
} */

.example-group>.ant-typography-secondary {
    display: block;
    margin-top: -20px;
}

.example-group>.ant-typography:first-child {
    display: block;
    margin-bottom: -35px;
}

.example-group>.ant-typography:first-child::after {
    content: "\A";
    white-space: pre;
}

.example-group-marker {
    display: list-item;
    margin-left: -1.8px;
}

.example-group-marker::marker {
    content: '◆';
    font-size: xxx-large;
}